{% extends "base.html" %}
{% block title %}Manage Assignments{% endblock %}
{% block content %}
This is the page to manage assignments.
What would you like to do?
<ul>
    <li><a href="{{ url_for('admin.delete_assignment') }}">Delete assignments</a></li>
    <li><a href="{{ url_for('admin.create_assignment') }}">Assign assignments</a></li>
</ul>
<table border="1">
    <tr>
        <th>User name</th>
        <th>Policy Name</th>
        <th>Assigned At</th>
        <th>Due By</th>
    </tr>
    {% for assignment in assignments %}
        <tr>
            <td>{{ assignment["user_name"] }}</td>
            <td>{{ assignment["policy_name"] }}</td>
            <td>{{ assignment["assigned_at"] }}</td>
            <td>{{ assignment["timeframe_seconds"] }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}